@import url('https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/3024-night.css');

.cm-editor
  font-family serif
  font-size 2rem
  background #fff
  border-radius 1rem
  outline none
  border solid 0.1rem #ccc
// .cm-line
//   span
//     color #000!important
.cm-scroller
  border-radius 1rem
.cm-gutterElement
  background #fff
  padding 0 1rem!important;
.cm-foldGutter
  .cm-gutterElement
    display none
.cm-activeLineGutter
  background #fff!important
.btn
  cursor pointer
  padding 0.5rem 1rem
  font-size 2rem
  font-family sans-serif
  border 0
  background #6c5ce7
  color #fff
  border-radius 0.2rem
  margin-right 0.5rem

.hidden
  display none

.hidden-text
  visibility hidden

.btn-play
  display block

.btn-hidden
  display none

.code-error
  font-size 1.6rem
  color #ff0000
  padding 1rem 1rem
  background #fff
  border-top-right-radius 1rem
  border-top-left-radius 1rem
  border solid 0.2rem rgba(183, 21, 64, 0.5)

.code-error-message
  font-weight bold
  margin-bottom 0.5rem