* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-size: 10px;
}

body {
  font-size: inherit;
  font-family: sans-serif, monospace;
}

.cm-editor {
  font-family: monospace;
  font-size: 2rem;
  background: #fff;
  border-radius: 1rem;
  outline: none;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  border: 0;
  background: #6c5ce7;
  color: #fff;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}

.hidden {
  display: none;
}

.hidden-text {
  visibility: hidden;
}

.btn-play {
  display: block;
}

.btn-hidden {
  display: none;
}

.code-error {
  font-size: 1.6rem;
  color: #ff0000;
  padding: 1rem 1rem;
  background: #fff;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: solid 0.2rem rgba(183, 21, 64, 0.5);
}

.code-error-message {
  font-weight: bold;
  margin-bottom: 0.5rem;
}